<div class="col-xs-offset-3 col-xs-6 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
  <form class="form form-horizon" ng-submit="login.apply()">
    <div>
      <label class="login-subtitle">Company</label>
      <label class="login-title">Application</label>
    </div>
    <hr />
    <div class="well well-sm">
      <label>Username</label>
      <input class="form-control" type="text" placeholder="Username"
             ng-model="login.username">
      <label>Password</label>
      <input class="form-control" type="password" placeholder="Password"
             ng-model="login.password">
      <p>&nbsp;</p>
      <button type="submit" class="btn btn-primary"
              ladda="login.processing">LOG IN</button>
    </div>
  </form>
</div>
